{margin:0;padding:0}


   /* /*Calling Fonts*/
	
	@font-face{
		
		font-family:'OpenSans';
		src: url('font/OpenSans-Regular.eot') format('eot'),
		
		 
		   url('font/OpenSans-Regular.svg') format('svg');
		
	}
	
	@font-face{
		
		font-family:'OpenSans-Light';
		src: url('font/OpenSans-Light.eot') format('eot'),
		 url('font/OpenSans-Light.woff') format('woff'),
		  url('font/OpenSans-Light.ttf') format('truetype'),
		   url('font/OpenSans-Light.svg') format('svg');
		
	}
	
	@font-face{
		
		font-family:'OpenSans-Semibold';
		src: url('font/OpenSans-Semibold.eot') format('eot'),
		 url('font/OpenSans-Semibold.woff') format('woff'),
		  url('font/OpenSans-Semibold.ttf') format('truetype'),
		   url('font/OpenSans-Semibold.svg') format('svg');
		
	}
	
	@font-face{
		
		font-family:'OpenSans-ExtraBold';
		src: url('font/OpenSans-ExtraBold.eot') format('eot'),
		
		   url('font/OpenSans-ExtraBold.svg') format('svg');
		
	}
	
	
	
    /*Calling Fonts*/
	 
	 
	 
	 
	.navbar ul li .router-link-active{color: white;background: black; }
	 
	 .ads img{
		 
		 width:100%;
		 height:95%;
	 }
	 
	 
	 .section img {
    height: 66px;
    width: 100px;
	 }
}
	 
	p{
		
		text-align:justify;
	}
	
	h1{
    color: #6c6e69;
    font: 30px/30px 'OpenSans-Light';
    margin: 0 0 30px;
    text-align: center;
}


.two h4 {
    color: #a6a8a3;
    font: bold 14px/24px 'OpenSans-ExtraBold';
    margin: 0;
    text-shadow: 0 1px #671515;
}
	
	a{
		display:block;
		text-decoration:none;
		padding:7px;	
	}
	
	
	.section a:hover{text-decoration:none;}
	
	body{
		font-family:arial;
	
	}
	
	
	
	}

	
	
	
	
	
	
	.container{ max-width:1400px; }
	
	
	.main_menu ul li{
		
		padding-right: 50px;
		padding-left: 45px;
		}
		
		
		
		
		.main_menu ul li a{
			color:#78450d;
			font:14px/24px 'OpenSans-Semibold'
			
		}
		.main_menu ul li a:hover{
			color:#fff;
			
		}

		.searchbar input{
			border:0;
		margin:0;
		padding:0;
		}
		
		.searchbar input[type='submit']{ 
		background:url(images/interface.png) no-repeat;
		background-position:-91px 0;
		padding:0 14px;
		font: italic 16px/24px 'OpenSans';
		
		}
		
		.searchbar input[type='text']{ 
		float:left;
		color:#F4F3EE;
		padding-left:5px;
		font: italic 12px/24px 'OpenSans';
		}
		
		
		
		.glider{
			background:url(images/glider.jpg) no-repeat;
			background-size:100% 100%;
		}
		
		.climber{
			background:url(images/climber.jpg) no-repeat;
			background-size:100% 100%;
		}
		.jump{
			background:url(images/jumping.jpg) no-repeat;
			background-size:100% 100%;
		}
		
		.link{ 
		background:url(images/interface.png) no-repeat;
		background-position:left bottom;
		text-shadow: 0 1px #fbc78e;
		text-align:center;
		width:220px;
		height: 42px;
		font-style:italic;
		}
		
		.content h1{font:bold 30px/60px 'OpenSans';color:#F8F9F6;}
		
		
		
		
		
		.navy ul li a{ font-family:system-ui; font-weight: 500;}
		
		
		.two{ background:#000; }
		
		.two a {
    color: teal;
    font: 15px/24px 'OpenSans';
    text-decoration: none;
		}
		
		.two a:hover {
    color: #bab9b8;
    
		}
		
		.fix{ overflow:hidden;}
		
	.home_bg{
    height: 700px;
    margin-top: 15px;
    background: url(../images/background.jpg) no-repeat;
    background-size: 80% 700px;
    background-position: center center;
}
 .how, .how li a{font-family: system-ui;}
 .extraDiv{background: black;}
 .dropdown-item:active{background-color: white;}

input[type="date"]:before {
  color: red;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="date"]:focus:before {
  content: '' !important;
}
input[type="radio"]{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: var(--field-white);
    box-shadow: var(--field-shadow);
    vertical-align: top;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnUp {
 border: 2px solid gray;
  color: black;
  background-color: yellow;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.btnUp2 {
  border: 2px solid gray;
  color: white;
  background-color: red;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		